.mission h1, .mission p{
    text-align: center;
}

.mission h1 {
    padding: 150px 200px 50px 200px;
    margin: 0px;
}

.mission p {
    padding: 0px 200px 20px 200px;
    margin: 0px;
}


.content {
    width: 100%;
    height: 904px;
    background: url('mixing-chemicals-in-the-laboratory-l.png') no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    top: 100px;
    left: 0px;
    overflow: hidden;
}