html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    color: #b16f78;
    margin: 0px;
    padding: 0px;
  }

  h1 {
    color: #ff5757;
    font-family: Inter;
    font-size: 50px;
  }

  nav {
    background-color: #ffe9eb;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  
  nav .pages li {
    float: right;
  }
  
  nav .pages a {
    display: block;
    color: black;
    background-color: #ffe9eb;
    padding: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-decoration: none;
  }
  nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #ffe9eb;
  }
  nav .pages a:hover {
    background-color: white;
  }

  .logo {
    float:left;
    width: 100px;
    height: 100px;
  }